@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
section {
  padding: 7em;
}

img {
  max-width: 100%;
}

.banner {
  position: relative;
  min-height: 100vh;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='11.879999999999999'%3E%3Cpath d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='3.9600000000000004' transform='' cx='500' cy='100' r='40'/%3E%3Cpath transform='' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='3.6'%3E%3Cpath transform='' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='7.920000000000001' transform='' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  h2 {
    font-size: 3em;
    color: white;
    font-weight: 500;
    line-height: 1.5em;
    text-align: center;
    span {
      display: block;
      font-weight: 700;
      font-size: 1.5em;
    }
  }
  h3 {
    font-size: 3em;
    color: white;
    font-weight: 500;
    text-align: center;
  }
  .pattern {
    background-size: cover;
  }
}

.btn {
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 1.25em;
  padding: 0.75em 2em;
  font-size: 1.1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}
.icon-btn {
  position: relative;
  background: #2196f3;
  margin-top: 1.25em;
  padding: 0.5em 2em;
  font-size: 1.1em;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  div {
    display: flex;
    align-items: center;
    span {
      width: 2.5em;
      height: 2.5em;
      margin: 0 0.5em;
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 2.5em 7em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  ul {
    li {
      a {
        &::after {
          content: '';
          height: 4px;
          background: #2196f3;
          position: absolute;
          bottom: -4px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          transition: width 0.2s ease-in-out;
        }
        &:hover {
          &::after {
            width: 80%;
          }
        }
      }
    }
  }
  .toggle, .close{
    display: none;
  }
  &.sticky {
    background: white;
    padding: 1.25em 7em;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    
    ul {
      li {
        a {
          color: #111;
        }
      }
    }
  }

  
  ul {
    display: flex;
    justify-content: space-between;
    li {
      position: relative;
      list-style: none;
      a {
        position: relative;
        display: inline-block;
        margin: 0 1em;
        color: white;
        text-decoration: none;
      }
    }
  }
}
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
  color: #111;
  &.white {
    color: white;
  }
  h2 {
    font-weight: 600;
    font-size: 2em;
    margin: 0 auto;
    position: relative;
    width: max-content;
    max-width: 100%;
    margin-bottom: 1em;
    &::after {
      content: '';
      height: 4px;
      background: #2196f3;
      position: absolute;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      transition: width 0.2s ease-in-out;
    }
  }
}
.content {
  display: flex;
  justify-content: space-around;
}

.contentBx {
  padding-right: 2em;
  h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
}

.w50 {
  min-width: 50%;
}

.skills {
  background: #111;
  h2 {
    &::after {
      display: none;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    .servicesBx {
      padding: 1.25em 1.25em;
      color: #222;
      border-radius: 4px;
      max-width: 10em;
      max-height: 10em;
      margin: 1.25em;
      text-align: center;
      transition: 0.5s;
      background: rgba(white,0.85);
      display: flex;
      align-items: center;
      flex-direction: column;
      &:hover {
        transform: scale(1.2);
        .icon {
          opacity: 1;
        }
        h3 {
          color: black;
        }
      }

      h3 {
        display: none;
        transition: 0.3s ease-in;
        color: white;
      }
    }
  }
}

.work {
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: minmax(330px, 1fr);
    
    gap: 2.5em;
    .workBx {
      padding: 2em;
      box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
      &__header{
        margin:0 auto 2em auto;
        display: block;
        width:100%;
        height: auto;
        &--black{
          background-color: #000;
        }

  
      }
      &__title{
       
          text-decoration: none;
          color: black;
          transition: color 0.15s ease-in;
          &:hover {
            color: #2196f3;
          }
        
      }
      &__description{
        
      }
    }
  }
  .heading{
    margin-top: 3em;
  }
}
.posts {
  .icon-btn {
    display: block;
    width: max-content;
    margin: 2em auto 0 auto;
    max-width: 100%;
    span {
      background: url('https://api.iconify.design/mdi:dev-to.svg?color=white')
        no-repeat center center / contain;
    }
  }
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: minmax(330px, 1fr);
    min-height: 20em;
    gap: 2.5em;

    .post {
      overflow-y: hidden;
      position: relative;
      max-height: 20em;
      height: calc(100% * 2);
      padding: 1.5em;
      box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
      a {
        text-decoration: none;
        color: black;
        transition: color 0.15s ease-in;
        &:hover {
          color: #2196f3;
        }
      }
      &__content {
        position: absolute;
        bottom: 0;
        top: 50%;
        padding: 0.9em 0.5em 0 0.5em;
        display: block;
        background: #fff;
        transition: top 0.4s linear;
      }
      &__tags {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      &__tag {
        color: #fff;
        background: #339acd;
        padding: 0.2em;
        margin: 0.3em;
        border-radius: 8px;
        font-size: 0.8em;
      }
      &__body,
      &__footer {
        visibility: hidden;
        margin: 0.75em 0;
        transition: visibility 0.5s ease-in;
      }
      &__body {
        p {
          font-size: 1em;
        }
      }
      &__footer {
        display: flex;
        align-items: center;
        font-weight: 400;
        text-transform: uppercase;
      }
      &__readable_publish_date {
        color: #111;
        font-weight: 300;
        font-size: 0.9em;
        padding: 0.3em 0;
      }
      & > img {
        transition: filter 0.5s ease-in;
      }

      &:hover {
        & > img {
          transition: filter 0.5s ease-in;
          filter: brightness(0.4);
        }
        .post__content {
          top: 0%;
          bottom: 0;
        }
        .post__body,
        .post__footer {
          visibility: visible;
          transition: visibility 0.5s ease-in;
        }
      }
    }
  }
}
.scroll {
  display: block;
  width: 30px;
  margin: 2em auto 0 auto;
  .circle {
    animation: circleAnim 1s infinite alternate-reverse;
  }
}

@keyframes circleAnim {
  from {
            transform: translate(0px, 0px);
    z-index: 5;
  }
  to {
            transform: translate(0, 67px);
  }
}

.contact {
  background: #111;

  .formBx {
    min-width: 60%;
    form {
      display: flex;
      flex-direction: column;
      h3,
      .contactInfo h3 {
        color: white;
        font-size: 1.25em;
        font-weight: 500;
        margin-bottom: 0.8em;
      }
      input,
      & textarea,button {
        margin-bottom: 1.25em;
        padding: 1em;
        font-size: 1em;
        background: transparent;
        border: none;
        outline: none;
        background: #222;
        color: white;
        resize: none;
        &::placeholder {
          color: #999;
        }
      }
      textarea {
        min-height: 12.5em;
      }
      button[type='submit'] {
        background: #2196f3;
        cursor: pointer;
        border: none;
        max-width: 6.25em;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
  }

  .contactInfo {
    min-width: 40%;
    h3 {
      color: white;
      font-size: 1.25em;
      font-weight: 500;
      margin-bottom: 0.8em;
    }
    .contactInfoBx {
      position: relative;
      .box {
        position: relative;
        padding: 1.25em 0;
        display: flex;
        .icon {
          min-width: 2.5em;
          padding-top: 0.25em;
          color: white;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          font-size: 1.5em;
        }
        .text {
          display: flex;
          margin-left: 1.25em;
          font-size: 1em;
          color: white;
          flex-direction: column;
          font-weight: 300;
          h3 {
            font-weight: 500;
            color: #2196f3;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.copyright {
  background: #000;
  color: white;
  text-align: center;
  padding: 0.6em;
}
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 1.25em 3.125em;
    z-index: 1000;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    padding: 6.25em 3.125em;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(black, 0.2);
    .close{
      display: block;
      position: absolute;
      top:1em;
      right:1em;
      background: url('https://api.iconify.design/bi:x.svg') no-repeat center center / contain;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 45px;
      width: 3em;
      height:3em;
      border:none;
    }
  }
  .menu.active {
    background: #fff;

    left: 0;
  }
  header ul li a {
    color: #111;
    margin: 0.6em;
    font-size: 1.5em;
  }
  .toggle {
    display: block !important;
    width: 2.5em;
    height: 2.5em;
    border:none;
    background: url('https://api.iconify.design/cil:hamburger-menu.svg?color=%23fff') no-repeat center center / contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
    svg{
      -ms-transform: rotate(360deg); 
      -webkit-transform: rotate(360deg); 
      transform: rotate(360deg);
    }
  }
 
  header.sticky .toggle {
    filter: invert(1);
  }
  section {
    padding: 6.25em 3.125em;
  }
 
  .banner {
    padding: 9.375em 3.125em 6.25em;
 
    h2 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 1.5em;
    }
  }

  
  .btn {
    margin-top: 0.6em;
    padding: 0.5em 1.25em;
    font-size: 1em;
  }
  .icon-btn {
    margin-top: 0.6em;
    padding: 0.5em 1.25em;
    font-size: 1em;
  }

  .heading h2 {
    font-size: 1.5em;
  }
  .contentBx h3 {
    font-size: 1.25em;
  }

  .content {
    flex-direction: column;
  }
  .w50 {
    margin-bottom: 1.25em;
  }
  .skills .content .servicesBx {
    margin: 0.6em;
    padding: 0.6em;
  }
  .work .content .workBx {
    width: 100%;
    padding: 0.6em;
    &__header{
      margin:0 auto;

    }
    &__title{

    }
    &__description{

    }

  }

  .testimonial .content .testimonialBx {
    min-width: calc(100% - 20px);
    margin: 0.6em;
    padding: 2.5em 1.25em;
  }
  .testimonial .content .testimonialBx h3 {
    margin-top: 1.25em;
  }
  .contactInfo {
    min-width: 40%;
    margin: 1.25em 0;
  }
}

@media (max-width: 600px) {
  .banner {
    background-size: 90% auto;
    background-position: top;
  }
  header,
  header.sticky {
    padding: 1.25em 1.125em;
  }
  .banner {
    padding: 1.25em 1.25em 6.25em;
  }
  section {
    padding: 6.25em 1.25em;
  }
}
